.main-container {

    position: relative;

    width: 60vw;
    height: 93vh;
    background-color: #EFEFEF;
    margin: 0 auto;
    border-radius: 10px;

}

.cards-container {

    width: 100%;
    height: 100%;

    padding: 10px;
    border: 4px solid #EFEFEF;
    border-radius: 10px;
    box-sizing: border-box;

    background-color: #107ABB;

    overflow: auto;
}

.widget-container {
    background-color: #107ABB;
    width: 100%;
    height: 50px;
    border: 4px solid #EFEFEF;
    border-top: none;
    border-radius: 10px;
    box-sizing: border-box;
}
