.user-coords-widget {

    margin: -60vh auto;

    width: 20%;
    height: 190px;

    padding: 10px;
    border-radius: 10px;

    background-color: #F1F1F1;

    transform-style: preserve-3d;

}

.user-coords-widget::before {

    content: '';
    position: absolute;

    width: 100vw;
    height: 100vh;

    top: -33vh;
    left: -39.5vw;

    background-color: #000000;

    transform: translateZ(-1px);


    opacity: 0.6;

}

.user-coords-widget-header {
}

.user-coords-widget-message {

}

.user-coords-widget-footer {
}


.set-coords-input {
    padding: 5px;
    border-radius: 10px;
    border: none;
    font-size: 24px;
    display: block;
    width: 100%;
    margin: auto;

}

.set-coords-form-btns {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

.user-coords-btn {
    width: 60px;
    height: 60px;
    border: none;
    background-color: inherit;
    cursor: pointer;
}

.send {
    background-image: url('icons/circle-check-regular.svg ')
}

.send:hover {
    background-image: url('icons/circle-check-solid.svg ')
}

.cancle {
    background-image: url('icons/rectangle-xmark-regular.svg ')
}

.cancle:hover {
    background-image: url('icons/rectangle-xmark-solid.svg ')
}


