.coords-popup-widget {

    display: none;

    margin: -60vh auto;
    width: 20%;
    height: 250px;
    padding: 10px;
    border-radius: 10px;
    background-color: #F1F1F1;
    transform-style: preserve-3d;

}

.coords-popup-widget::before {
    content: '';
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: -33vh;
    left: -39.5vw;
    background-color: #000000;
    transform: translateZ(-1px);
    opacity: 0.6;
}

#coords-popup-form {
    display: flex;
    flex-direction: column;
}

#coords-popup-label {
    font-family: Verdana, sans-serif;
}

#coords-popup-input {
    border: none;
    margin: 10px 0;
    font-size: 24px;
    border-radius: 10px;
    padding: 0 10px;
}

#coords-popup-btn {
    border-radius: 10px;
    margin: 10px 0;
    height: 30px;
}
